.inform-bar {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    padding: 5px 3px;
    border-bottom: 2px solid rgba(121, 121, 121, 1);
    ;
}

.inform-bar__email {
    width: 100%;
}

.inform-bar__email:first-child span {
    margin-right: 5px;
}

.inform-bar__email:last-child {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.inform-bar__git {
    width: 100%;
}

.inform-bar__git:first-child span {
    margin-right: 5px;
}

.inform-bar__git:last-child {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

body {
    background-color: beige;
}

.intro {
    margin: 40px 80px;
}

.intro__title {
    margin-bottom: 20px;
}

.title_1 {
    background-color: burlywood;
    font-size: 25px;
    text-align: center;
}

.intro__main {
    margin-top: 10px;
}

.main_1 {
    font-size: 12px;
    justify-content: center;
}