.inform-bar {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    padding: 5px 3px;
    border-bottom: 2px solid rgba(121, 121, 121, 1);
    ;
}

.inform-bar__email {
    width: 100%;
}

.inform-bar__email:first-child span {
    margin-right: 5px;
}

.inform-bar__email:last-child {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.inform-bar__git {
    width: 100%;
}

.inform-bar__git:first-child span {
    margin-right: 5px;
}

.inform-bar__git:last-child {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}